/**
 * NoLoJS CSS
 **/

/*****
 * Base CSS, for comsetics
*****/
:root {
  --green-dark: #34a0a4;
  --green-med: #a1c9c9;
  --green-light: #f6f7f1;
  --header-height-large: 150px;
  --header-height-small: 75px;
  --header-padding: 1rem;
  --content-margin: var(--header-height-large);
  --small-screen-breakpoint: 600px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding-block-end: 10rem;
  background-color: var(--green-light);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #444;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
img, video {
  width: 100%;
  height: auto;
}
header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: var(--header-padding);
    background-color: var(--green-dark);
}
nav {
    & button {
        position: absolute;
        left: .5rem;
        bottom: .5rem;
        border-radius: 4px;
        padding: .5rem;
        border: 1px solid var(--green-light);
        background-color: var(--green-dark);
        color: var(--green-light);
        font-size: 16px;
        cursor: pointer;
    }
    & ul {
        list-style: none;
        background-color: var(--green-light);
        box-shadow: 2px 0 8px black;
    }
    & li {
        padding: .5rem 1rem;
        background-color: var(--green-med);
        border-bottom: 1px solid var(--green-light);
        transition: all 150ms;
        &:hover {
            background-color: var(--green-dark);
            color: var(--green-light);
            cursor: pointer;
        }
    }
    & a {
        display: block;
    }
}

main {
    padding-block: 1rem;
    padding-inline: 2rem;
}



/*****
 * Begin Feature CSS
*****/


/** Smooth Scrolling **/
/* Only apply if the user did NOT request reduced motion */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
/* Give some "breathing room" for the scrolled-to element */
:target {
  scroll-margin-top: 100px;
}


/** Sticky Header **/
.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* Push the content down for the fixed header */
main {
    /* The height of the logo, plus the header top & bottom padding */
    margin-top: var(--content-margin);
}


/** Shrinking Header **/
/* Make the logo initially large */
.header-shrink {
    height: var(--header-height-large);
    & img {
        max-height: 100%;
        width: auto;
    }
}
/* Define the animations that should happen when the user scrolls */
@keyframes header-scroll {
    to { 
        height: var(--header-height-small); 
    }
}
/* Only apply if the user did NOT request reduced motion */
@media (prefers-reduced-motion: no-preference) { 
    /* Make sure the device supports scroll animation */
    @supports (animation-timeline: scroll()) {
        .header-shrink {
            /* Assign the animations to the elements */
            animation: header-scroll linear both;
            /* Passing nothing into `scroll()` will assign the animation to the document scroll */
            animation-timeline: scroll();
            /* 100px is a magic number; the animation will start at 0 and end at 100px; choose whatever numbers you want */
            animation-range: 0 100px;
        }
    }
}


/** Offscreen nav for small screens **/
nav {
  /* Set as custom properties for consistency */
  --hidden: -100vw;
  --visible: 0;
  ul {
    /* Override User-Agent styles */
    margin: 0; /* Prevents center/center */
    border: 0; /* Kills fat black border */
    /* Set top position for onscreen nav */
    top: var(--content-margin);
    /* Start offstage... */
    translate: var(--hidden);
    /* ... and move onstage when open */
    &:popover-open {
      translate: var(--visible);
      @starting-style {
        translate: var(--hidden);
      }
    }
    /* Add opening animation, if the user is okay with that */
    @media (prefers-reduced-motion: no-preference) {
        transition: translate 150ms;
    }
    /* Add backdrop */
    &::backdrop {
      background: rgb(0 0 0 / 50%);
    }
  }
}
/* Override offscreen on larger screens */
@media (min-width: 600px) {
    /* Flip the layout on larger screens */
    header {
        flex-direction: row-reverse;
    }
    /* Hide the nav button on larger screens */
    header button {
        display: none;
    }
    /* Show the nav menu on larger screens */
    nav ul {
        position: static;
        display: flex;
        background: none;
        border: 0;
    }
}


/** All CSS Carousels use these starting blocks **/
/* Because I choose to use a UL for my carousel, remove browser defaults */
.css-carousel__animated-loop {
    ul {
        list-style: none;
        padding: 0;
    }
    /* The only CSS necessary for a Carousel */
    .css-carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-inline: auto;
    }
    /* Add a few niceties... */
    .css-carousel {
        /* Prevents accidental Back/Forward */
        overscroll-behavior-inline: contain;
        /* Confines the scrolling direction */
        scroll-snap-type: inline mandatory;
        /* Makes the sliding a little smoother */
        scroll-behavior: smooth;
    }
}