/* Override User-Agent styles */
nav {
  display: block; /* Allows animation */
  margin: 0; /* Prevents center/center */
  border: 0; /* Kills fat black border */
}
/* Start offstage, move onstage */
nav {
  height: 100vh;
  translate: -100vw;
  opacity: 0;
  &:popover-open {
    translate: 0;
    opacity: 1;
  }
}
/* Add close button positioning */
nav {
  position: relative;
}
nav button {
  position: absolute;
  top: .5rem;
  right: 1em;
}
