nav {
  /* Set as custom properties for consistency */
  --hidden: -100vw;
  --visible: 0;
  /* Override User-Agent styles */
  ul {
    margin: 0; /* Prevents center/center */
    border: 0; /* Kills fat black border */
  }
/* Start offstage, move onstage */
  ul {
    translate: var(--hidden);
    &:popover-open {
      translate: var(--visible);
      @starting-style {
        translate: var(--hidden);
      }
    }
}
