/**
 * NoLoJS CSS
 **/

/*****
 * Base CSS, for comsetics
*****/
:root {
    interpolate-size: allow-keywords;
    view-transition-name: root;
    --green-dark: #34a0a4;
    --green-med: #a1c9c9;
    --green-light: #f6f7f1;
    --header-height-large: 150px;
    --header-height-small: 75px;
    --header-padding: 1rem;
    --content-margin: var(--header-height-large);
    --small-screen-breakpoint: 600px;
}
@view-transition {
    navigation: auto;
}
*, ::before, ::after {
    box-sizing: border-box;
}
::selection {
    background-color: yellow;
}
html {
    background-color: var(--green-dark);
    scroll-padding-block: 1lh;
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}
body {
    margin: 0;
    background-color: var(--green-light);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.62;
    color: #444;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-wrap: pretty;
    scrollbar-gutter: stable;
}
header,
footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: var(--header-padding);
    color: var(--green-light);
    font-size: 16px;
    background-color: var(--green-dark);
    & a {
        color: var(--green-light);
    }
}
footer {
    flex-direction: column;
    text-align: center;
    padding-block-end: 100px;
}
article {
    padding-block: 1rem;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
}
h1 {
    margin: 0;
    padding-block: 1rem;
    font-size: 2rem;
    line-height: 1.25;
}
p {
    margin-block: .5em;
}
a {
    color: var(--green-dark);
}
.intro ul {
    border: 1px solid currentColor;
    padding: 16px 36px;
    border-radius: 10px;
}
pre, code {
    padding-inline: 4px;
    padding-block: 2px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #333;
    color: lime;
    & span {
        color: red;
    }
}
hr {
    margin-block: 2em;
    margin-inline: 1rem;
}
blockquote {
    color: currentColor;
    border-left: 4px solid var(--green-dark);
    padding: .5em 1em;
    margin-inline: 0;
}
details {
    padding: 0;
    outline: 1px solid var(--green-light);
    background-color: var(--green-med);
    &::details-content {
        padding-inline: 1em;
    }
    &[open]::details-content {
        padding-block: .5em;
    }
}
summary {
    padding-block: 8px;
    padding-inline: 14px;
    background-color: var(--green-dark);
    border-bottom: 1px solid var(--green-light);
    color: white;
    cursor: pointer;
}
dialog {
    max-width: 90%;
    padding-inline: 1rem;
    background-color: var(--green-med);
    border: 2px solid var(--green-dark);
    box-shadow: 5px 5px 10px;
}
::backdrop {
    background: rgb(0 0 0 / .65);
}
button {
    border: 1px solid var(--green-dark);
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    display: inline-block;
    background-color: var(--green-dark);
    cursor: pointer;
    color: var(--green-light);
}
img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/** Override default `figure` CSS **/
figure.demo {
    margin: 0;
}

/** Highlight overrides **/
figure.highlight {
    margin: 0;
}
.highlight pre {
    padding: 14px;
    overflow-x: auto;
}
.highlight code,
.highlight .err {
    background-color: transparent;
}
.highlight .err {
    color: red;
}

/** Baseline component overrides**/
baseline-status {
    max-width: 100%;
    padding-block: 6px;
    padding-inline: 0;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    border: 0;
    border-radius: 0;
    border-block-end: 1px solid #aaa;
    overflow-x: auto;
}

/** Style CodePen embed
.codepen {
    height: 300px; 
    box-sizing: border-box; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid; 
    margin: 1em 0; 
    padding: 1em;
} **/
