/* If you wish to re-position the popover via CSS... */
dialog {
  margin: 0; /* Remove the default center/center */
  position: relative; /* Replaces the default position: fixed */
  top: 10%;  /* Provide a different top/left */
  left: 33%;
}
/* Position the close button where you like */
dialog button {
  position: absolute;
  top: .5rem;
  right: 1em;
}
