/* Basic carousel CSS */
.css-carousel {
  /* Resets for carousel appearance */
  list-style: none;
  padding: 0;
  /* The only CSS necessary for a simple swiper Carousel */
  display: flex;
  overflow-inline: auto;
  /* Prevents accidental page Back/Forward */
  overscroll-behavior-inline: contain;
  /* Confines the scrolling direction */
  scroll-snap-type: inline mandatory;
  /* Be nice to others */
  @media (prefers-reduced-motion: no-preference) { 
    /* Makes the sliding a little smoother */
    scroll-behavior: smooth;
  }
  
/** Add indicator dots **/
  /* Optionally remove the scrollbar */
  scrollbar-width: none;
  /* Using Anchor Position to place the dots. */
  anchor-name: --css-carousel__adding-dots;
  /* Create and position the dots; can also use `before` or `none` */
  scroll-marker-group: after;

  /* Define anchor scope and position the dots */
  &::scroll-marker-group {
    position-anchor: --css-carousel__adding-dots;
    position-area: block-end;
    position-visibility: always;
    position: fixed;
    /* Customize the dots appearance (will not appear otherwise) */
    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
    gap: 20px;
  }

  li {
    /* Create a dot for each slide */
    &::scroll-marker {
      content: ' ';
      cursor: pointer;
      /* Customize the dots as you wish */
      aspect-ratio: 1;
      border-radius: 100%;
      border: 1px solid #000;
    }
    /* Customize the "current" dot as you wish */
    &::scroll-marker:target-current {
      background-color: #000;
    }
  }
}
