nav {
  /* Set as custom properties for consistency */
  --hidden: -100vw;
  --visible: 0;
  /* Override User-Agent styles */
  margin: 0; /* Prevents center/center */
  border: 0; /* Kills fat black border */
  /* Start offstage... */
  translate: var(--hidden);
  /* ... and move onstage when open */
  &:popover-open {
    translate: var(--visible);
    @starting-style {
      translate: var(--hidden);
    }
  }
  padding-top: 2rem; /* Make room for the "close" button */
  position: relative; /* Add close button positioning */
  & button { /* Position the button */
    position: absolute;
    top: .5rem;
    left: 1em;
  }
}
