/* If you wish to re-position the popover via CSS... */
dialog {
  position: relative; /* Replaces the default position: fixed */
  margin: 0; /* Remove the default center/center */
  top: 10%;  /* Provide a different top/left */
  left: 33%;  /* Provide a different top/left */
}
