<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body class="component">
{% include header.html %}
    <article class="standalone">

        <section>
            {{ page.content }}
        </section>
      
        <h2>Example</h2>
        <figure class="example">
{% include_relative component.html %}
        </figure>
      
        <h2>HTML</h2>
{% highlight html %}
{% include_relative component.html %}
{% endhighlight %}
        
        <h2>CSS</h2>
        {% if page.css %}
        <link rel="stylesheet" href="styles.css" media="all">
{% highlight css %}
{% include_relative styles.css %}
{% endhighlight %}
        {% else %}
        <figure class="highlight"><pre><code>No special CSS required.</code></pre></figure>
        {% endif %}
        
        <h2>JS</h2>
        {% if page.js %}
        <script src="scripts.js"></script>
{% highlight js %}
{% include_relative scripts.js %}
{% endhighlight %}
        {% else %}
        <figure class="highlight"><pre><code>No JS required.</code></pre></figure>
        {% endif %}
      
    </article>
{% include footer.html %}
</body>
</html>
