<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="component">
  {% include header.html %}

  {% assign file_path_to_check = page.dir'/styles.css' %}
  {% assign file_exists = false %}
  
  {% for static_file in site.static_files %}
    {% if static_file.path == file_path_to_check %}
      {% assign file_exists = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  
  {% if file_exists %}
  <style style="display: block;">
      {% include_relative file_path_to_check %}
  </style>
  {% else %}
  <p>No Special CSS.</p>
  {% endif %}

  <article>
    {{ content }}
  </article>
    
  {% include footer.html %}
</body>
</html>
