<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <article class="standalone">
    
      <div id="snippets">
        {{ content }}
      </div>

      {% if page.author %}
      {% if page.authorlink %}
      <p class="author">by <a href="{{page.authorlink}}">{{ page.author }}</a> <span title="Guest author! Thank you!">🎉</span> </p>
      {% else %}
      <p class="author">by {{ page.author }} <span title="Guest author! Thank you!">🎉</span> </p>
      {% endif %}
      {% endif %}

      <p>Topics: {{ page.tags | join: ", " }}</p>

      <p class="back"><a href="/NoLoJS/">See all NoLoJS components</a></p>

    </article>

  <footer>
    {% include footer.html %}
  </footer>
  <!--script src="/dearconsole/assets/scripts.js"></script-->
</body>
</html>
